<div class = "row"> 
  <div class= "span5"> <h1 class= "center">Tasks</h1></div>
  <div class= "span5"> <h2 class = "text-right"><%= link_to "New task", new_task_path %></h2></div>
</div>

<div class = "row">
<div class = "span8">
      <!--Sidebar Content starts -->
      <div id="tasks">
        <h2 id="month">
          <%= link_to "<", date: @date.prev_month %>
          <%= @date.strftime("%B %Y") %>
          <%= link_to ">", date: @date.next_month %>
        </h2>
        <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @tasks_by_date[date] %>
        <ul>
          <% @tasks_by_date[date].each do |task| %>
          <li><%= link_to task.title, task %></li>
          <% end %>
        </ul>
        <% end %>
        <% end %>
      </div>
    <!--Sidebar content ends-->
  </div> 
    <div class="span4 ">
        <!--Body content Starts-->
        <strong> Today's Tasks List (<%= Date.today%>)<strong>
          <br>
          <div class="task-index-padding">
          <% Task.all.map {|x| x if x.published_on == Date.today }.each  do |n|%>
          <pre><%= if n.nil? then "No task" else n.title end %></pre>
          <%end%>
          </div>

        <!--Body content Ends-->
    </div>
     </div>
     </div>   
