<%= p @bills %>

<h1>Listing all outstanding bills</h1>
 <p class="text-success"><strong>Edit</strong> via clicking the PartyName</p>
<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Company name</th>
    <th>Bill No</th>
    <th><%= link_to "Bill Amount", bills_path(:sort =>"amount")%></th>
    <th><%= link_to "Bill Date", bills_path(:sort => "issue_date")%></th>
    <th><%= link_to "Status", bills_path(:sort => "status")%></th>
    
    <th>Delete Bill</th>
  </tr>
 
  <% @bills.each do |bill| %>
    <tr>
    <td><%= bill.payments.first.nil? ? '' : link_to(bill.payments.first.customer.name, customer_payments_path(bill.payments.first.customer))%></td>
    <td><%= link_to bill.bill_no, edit_bill_path(bill) %></td>
    <td><%=  bill.amount %></td>   
    <td><%= bill.issue_date %></td>
    <td><%= bill.status %></td>
    <td><%= link_to 'Delete Record', bill,
               :confirm => 'Are you sure?',
               :method => :delete , :class => "btn btn-mini btn-primary" %></td>
    </tr>
  <% end %>
</table>