<h1>Listing users</h1>
<table>
  <tr>
    <th>Consumer No</th>
    <th>Name</th>
    <th>GST Number</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Area</th>
    <th>Installation Date</th>
    <th>Flavors</th>
    <th>Plan</th>
  </tr>
 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.consumer_no %></td>
      <td><%= customer.name %></td>
      <td><%= customer.gstid %></td>
      <td><%= customer.phone_number %></td>
      <td><%= customer.address %></td>
      <td><%= customer.area %></td>
      <td><%= l customer.installation_date %></td>
      <td><%= customer.flavors %></td>
      <td><%= customer.plan %></td>      
    </tr>
  <% end %>
</table>
<br/>