<p>
  <strong>Consumer Id:</strong>
  <%= @customer.consumer_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
 
<p>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>
 
<p>
  <strong>Area:</strong>
  <%= @customer.area  %>
</p>
<p>
  <strong>Installation Date:</strong>
  <%= @customer.installation_date  %>
</p>
<p>
  <strong>Flavors:</strong>
  <%= @customer.flavors  %>
</p>
<p>
  <strong>Plan:</strong>
  <%= @customer.plan  %>
</p>
<BR>
<%= link_to "New Customer" , new_customer_path %>
<BR>
<%= link_to "Customer List" , customers_path %>	