<%= link_to "Home", root_path, :class => 'brand' %>
<div class = 'brand align-right'>
<% if current_user %>
  Logged in as <%= current_user.email%>
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>  	
  <% end%>
</div>
<%= link_to "Bills ", bills_path, :class => 'brand' %>
<%= link_to "Customers" ,customers_path , :class => 'brand' %>
<%= link_to "Outstanding" ,bills_outstanding_bills_path , :class => 'brand' %>
<%= link_to "Outstanding:Rs#Coming soon", root_path, :class => 'brand' %>

<ul class="nav">
  
</ul>